<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>BookBuds</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="libs/greyBootstrap/css/bootstrap.css">
    <script src="libs/jquery/jquery.js"></script>
    <script src="libs/greyBootstrap/js/bootstrap.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="app.js"></script>

    <title>BookBuds</title>

    <!-- Bootstrap Core CSS -->
    <link href="libs/greyBootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="libs/greyBootstrap/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="libs/greyBootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        p.solid {
            border-style: solid;
            border-color: aquamarine;
        }
    </style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<!-- Navigation -->
<div ng-controller='MainCtrl'>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <form ng-submit='sendSearch()' class="search">
                    <input type="text" ng-model="searchTerm" class="searchField" placeholder="Search for Books"/>
                    <input type="submit" class="searchButton" value="send it"/>
                </form>


                <!--<a class="navbar-brand page-scroll" href="#page-top">-->
                <!--<i class="glyphicon glyphicon-search"></i>  <span class="light">Search</span> BookBuds-->
                <!--</a>-->

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">


                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">BookGroups</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#messaging">Messaging</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Account</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- /.container -->
    <div ng-show="!currentlySearching()">


        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">BookBuds</h1>
                            <p class="intro-text">
                            <p class="solid">Connect with people around the world, one book at a time!</p>

                            <a href="#login" class="btn btn-circle page-scroll">Login/Make Account
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="login" class="container content-section text-center">

            <h1>{{greeting}}</h1>

            <div ng-show="!loggedIn()" class="container-section text-left">
                <h3>Login</h3>
                <form ng-submit="login()">
                    Username: <input type="text" ng-model="userName"/><br>
                    Password: <input type="password" ng-model="password"/><br>
                    <input type="submit" value="Login"/>
                </form>
            </div>

            <div ng-show="!loggedIn()" class="container-section text-right">

                <h3>Create An Account</h3>
                <form ng-submit="createAccount()">
                    Username: <input type="text" ng-model="userName"/><span><br></span>
                    Password: <input type="password" ng-model="password"/><br>
                    Question: <input type="text" ng-model="question"/><br>
                    Answer: <input type="text" ng-model="answer"/><br>
                    <input type="submit" value="Create Account"/>
                </form>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="error.data.message">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error.data.message}}
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About BookBuds</h2>

                    <p class="solid">Discuss and learn with others reading the same book as you!</p>

                    <p>BookBuds is a web application that allows users to search for books and other media to interact
                        with others. BookBuds goal is to have people engage and interact through online discussions
                        among peers reading the same book.</p>

                    <p>When a user creates a BookBuds account, they have the ability to join a group based on a book
                        title. Every group has its own community where they can post comments in an open discussion
                        necessary to the topic. The user can share their knowledge and work from a material online such
                        as an article or a pdf. There is also a messaging service where there can be peer-to-peer
                        interaction directly.</p>


                </div>
            </div>
        </section>

        <!-- Download Section -->
        <section id="download" class="content-section text-center">
            <div class="row" ng-show="!loggedIn()">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>BookBuds has Book Groups</h2>

                    <p>Create an account or login to create and join book groups.</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br>

                </div>
            </div>
            <div class="row" ng-show="loggedIn()">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{{userName}}'s Book Groups</h2>
                    <ul ng-repeat="uGroup in userGroups" style="list-style: none">
                        <li>ugh
                            <div class="card card-block">
                                <h4 class="card-title">{{uGroup.data.book.title}} Group {{uGroup.id}}</h4>
                                <p>logged in {{uGroup</p>
                                <a href="#" class="card-link">Join Group</a>
                                <a href="#" class="card-link">View Group</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- Messaging Section -->
        <section id="messaging" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Messaging</h2>
                    <div ng-show="!loggedIn()"></div>
                    <p>Create an account or login to message other BookBuds</p>


                </div>

                <h2>Messaging</h2>

                <div ng-show="loggedIn()">


                    Enter username to send message to:
                    <form ng-submit="createMessage()">
                        Username: <input type="text" ng-model="recipient"/>
                        Message: <input type="text" ng-model="message"/>
                        <input type="submit" value="createMessage"/>
                    </form>
                </div>
            </div>
        </section>


        <!-- Messaging Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Us</h2>
                    <div ng-show="loggedIn()">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><span class="label label-success">Success!</span> Welcome {{userName}}</h3>
                                <a href ng-click="logout()">(logout)</a>
                            </div>
                            <div class="col-md-4">
                                <form ng-submit="getAccountDetails()">
                                    <input type="submit" value="Get Account Details"/>
                                </form>
                                <div class="row header">
                                    <div class="col-sm-4">{{userName}} is a member of BookBuds</div>
                                </div>
                            </div>

                            <p class="solid">To request a book to add to our database, feel free to send us an
                                email!</p>
                            <p><a href="mailto:bookBuds@gmail.com">bookBuds@gmail.com</a>
                            </p>
                            <ul class="list-inline banner-social-buttons">

                                <li>
                                    <a href="https://github.com/IronSummitMedia/startbootstrap"
                                       class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span
                                            class="network-name">Github</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!---BEGIN SEARCH RESULTS SECTION--->
    <!---Still in controller--->
    <div ng-show="currentlySearching()">
        <section id="resultsTop" class="container content-section text-left">
            <form ng-submit="endSearching()">
                <input type="submit" class="submitButton" value="Return to Home"/>
            </form>
            <h2>Search Results</h2>

            <ul ng-repeat="book in books" style="list-style: none">
                <li>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src={{book.imageUrl}} alt="..." width="150px">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{book.title}}</h4> <h5> by {{book.author}}</h5>
                            {{book.description}}
                            <!-- MAKE A GROUP BUTTON -->
                            <div ng-show="loggedIn()">
                                <form ng-submit="makeGroup()">
                                    <!--Book ID: <input type="text" ng-model="bookID"/><br>-->
                                    <input type="submit" value="Create Group"/>
                                </form>
                            </div>
                            <ul ng-repeat="book in books" style="list-style: none">
                                <li>


                                </li>
                            </ul>

                        </div>
                        <!-- Groups Available-->
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>


<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; BookBuds 2016</p>
    </div>
</footer>

<!-- jQuery -->
<script src="libs/greyBootstrap/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="libs/greyBootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="libs/greyBootstrap/js/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="libs/greyBootstrap/js/grayscale.js"></script>
</body>

</html>
